/ADS2/linguagem-de-programacao/if-else/target/
/ADS2/linguagem-de-programacao/nivelamento-java-2/target/
/ADS2/linguagem-de-programacao/mavenproject1/target/
/ADS2/linguagem-de-programacao/sorteios/target/
/Courses/linguagem-de-programacao/larissa-hessel-c1/nbproject/private/
/Courses/linguagem-de-programacao/larissa-hessel-c1/build/
/ADS2/linguagem-de-programacao/p.o.o/projeto-swing-01/target/
/ADS2/linguagem-de-programacao/miniProjetinho/target/
/ADS2/linguagem-de-programacao/PainelImc/target/